<nav class="navbar navbar-expand-lg fixed-top">
    <div class="collapse navbar-collapse" id="navbarToggler">
        <ul class="navbar-nav ml-auto mr-auto">
            <li class="nav-item" *ngFor="let eachnav of navlists">
                <a class="nav-link" [routerLink]="eachnav.url">
                    <span>{{eachnav.title}}</span>
                </a>
            </li>
        </ul>
        <div class="lang-wrap">
            <a class="nav-link float-left" routerLink="/login">
                <mat-icon >person</mat-icon>
            </a>
            <a class="nav-link float-left" (click)="logOut()">
                <mat-icon >power_settings_new</mat-icon>
            </a>
            <div>
                <mat-icon class="float-left">timer</mat-icon>
                <span>{{authService.counter}}</span>
            </div>
        </div>
    </div>
</nav>
