<nav>
    <div>
        <ul>
            <li *ngFor="let eachnav of navlists; let linkindex = index" 
                (click)="ActiveLink('click', linkindex)"
                (mouseover)="ActiveLink('mouseover', linkindex)"
                (mouseleave)="ActiveLink('mouseleave', linkindex)"
                [ngClass]="eachnav.linkfocus ? 'active' : ''">
                <a class="nav-link" [routerLink]="eachnav.url">
                    <span>{{eachnav.title}}</span>
                </a>
            </li>
        </ul>
        <div class="lang-wrap">
            <a routerLink="/login">
                <mat-icon >person</mat-icon>
            </a>
            <a (click)="logOut()">
                <mat-icon >power_settings_new</mat-icon>
            </a>
            <div>
                <mat-icon>timer</mat-icon>
                <span>{{authService.counter}}</span>
            </div>
        </div>
    </div>
</nav>
