nav{
    height: 10vh;
    z-index: 1;
    background: white;
    >div{
        >ul{
            >li{
                margin: 10px;
                &:hover{
                    background-color: rgb(224, 197, 197);
                }
                >a{
                    >span{
                        color: black;
                        font-family: 'Lucida Sans';
                    }
                }
            }
        }
        .lang-wrap{
            display: flex;
            >div{
                margin-top: 8px; 
            }
            >a{
                cursor: pointer;
            }
        }
    }
}