<a class="menu" (click)="isOpen = true">
    <img src="assets/svg/menu.svg"/>
</a>
<a class="selectLang" (click)="isOpenLang = !isOpenLang">
    <img src="assets/svg/language.svg"/>
</a>
<div class="langMenu" [ngClass]="{'active': isOpenLang , '': !isOpenLang}">
    <a *ngFor="let language of languages" class="lang" (click)="selectLang(language.id)">
        {{language.name}}
    </a>
</div>
<nav [ngClass]="{'active': isOpen}">
    <div class="lang-wrap">
        <a routerLink="/login">
            <mat-icon >person</mat-icon>
        </a>
        <!--<div>
            <mat-icon>timer</mat-icon>
            <span>{{authService.counter}}</span>
        </div>-->
        <a class="close" (click)="isOpen = false">
            <img src="assets/svg/close.svg"/>
        </a>
    </div>
    <div class="pages">
        <a *ngFor="let eachnav of navlists; let linkindex = index" 
            (click)="ActiveLink('click', linkindex); isOpen = false"
            [routerLink]="eachnav.url"
            (mouseover)="ActiveLink('mouseover', linkindex)"
            (mouseleave)="ActiveLink('mouseleave', linkindex)"
            [ngClass]="eachnav.linkfocus ? 'active' : ''">
            <span>{{eachnav.title}}</span>
        </a>
        <a (click)="logOut()">
            LogOut
            <mat-icon >power_settings_new</mat-icon>
        </a>
    </div>
</nav>

<div class="dimScreen" [ngClass]="{'active': isOpen}"></div>
