.main{
    margin-top: 200px;
     
    .slide{
        img{
            margin: auto;
        }
        h5{
            margin-top: 50px;
        }
        p{
            text-align: justify;
        }
    }          
}

