<main class="shop">
    <header class="title">
        <p>NewShop</p>
        <a class="cart" routerLink="shopcart">
            <img src="assets/svg/cart.svg"/>
            <span [ngClass]="{'number': true, 'active': shopnumber > 0}">
                {{shopnumber}}
            </span>
        </a>
        <span [ngClass]="{'triangle': true, 'active': shopnumber > 0}"></span>
        <a routerLink="shopcart" [ngClass]="{'goToCart': true, 'active': shopnumber > 0}">
            <p>Go To Cart</p>
        </a>
    </header>
    <router-outlet></router-outlet>
</main>
