.shop{
    header{
        &.title{
            height: 80px;
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: #f8f8f8;
            border-top: 1px solid #ddd;
            >p{
                font-family: monospace;
                letter-spacing: 1px;
                font-size: 16px;
                margin: 0;
                text-align: center;
                padding: 15px 0 15px 0;
            }
            .cart{
                position: absolute;
                right: 70px;
                >img{
                    width: 22px;
                }
                >.number{
                    &.active{
                        display: flex;
                    }
                    width: 15px;
                    height: 15px;
                    position: absolute;
                    top: -5px;
                    left: 14px;
                    display: none;
                    border-radius: 50%;
                    background-color: #ce2727;
                    align-items: center;
                    justify-content: center;
                    color: #ffffff;
                    font-size: 10px;
                }
            }
            .triangle{
                display: none;
                &.active{
                    display: block;
                }
                width: 0;
                height: 0;
                top: 52px;
                right: 94px;
                position: absolute;
                border-style: solid;
                border-width: 5px 11px 11px 0;
                border-color: transparent rgb(240, 205, 211) transparent transparent;
            }
            .goToCart{
                display: none;
                &.active{
                    display: block;
                }
                p{
                    margin: 0;
                    font-size: 13px;
                    letter-spacing: 1.3px;
                }
                text-decoration: none;
                color: #000;
                cursor: pointer;
                position: absolute;
                right: 94px;
                top: 57px;
                padding: 5px 10px;
                background: rgb(240, 205, 211);
                border-radius: 3px;
            }
        }
    }
}

