<div class="example-container">
    <div class="form-group">
        <label for="formGroupExample">Title</label>
        <input class="form-control" matInput [(ngModel)] = "data.todolist">
    </div>
    <div class="form-group">
        <label for="formGroupExample2">Content</label>
        <textarea class="form-control" rows="8" matInput [(ngModel)]="data.todocontent"></textarea>
    </div>
    <div class="form-groupo">
        <label for="formGroupExampleInput3">顏色</label>
        <input type="color" value="#ff0000" matInput [(ngModel)]="data.color">
    </div>
</div>
<div mat-dialog-actions>
    <button class="btn btn-primary" mat-button [mat-dialog-close]="[data.todolist, data.todocontent, data.color]" cdkFocusInitial>Save</button>
</div>
