<article class="shopcart">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-12 col-12">
                <section class="title">
                    <span *ngFor="let title of shoptitles" class="eachtitle">
                        {{title}}
                    </span>
                </section>
                <section class="shopitem">
                    <div *ngFor="let shopItem of shopService.shopCartLists" class="eachitem">
                        <div class="item">
                            <img [src]="shopItem.picture"/>
                            <p>{{shopItem.name}}</p>
                            <p>{{shopItem.brand}}</p>
                            <p>Color: {{shopItem.color}}</p>
                            <p>Size: {{shopItem.size}}</p>
                        </div>
                        <div class="price">
                            <span>{{shopItem.price}}</span>
                        </div>
                        <div class="total_price">
                            <span>{{shopItem.price}}</span>
                            <a [id]="shopItem.name" (click)="removeItem(shopItem.name)">
                                <img src="assets/svg/trash.svg">
                                Remove
                            </a>
                        </div>
                    </div>
                    <div class="checkout">
                        <a routerLink="/shop/checkout">Check Out</a>
                    </div>
                </section>
            </div>
        </div>
    </div>
</article>
