.shopcart{
    font-family: "futura-pt-n4", "futura-pt", Tahoma, Geneva, Verdana, Arial, sans-serif;
    .container{
        .row{
            .title{
                display: flex;
                margin: 2rem 0 1rem 0;
                .eachtitle{
                    &:nth-child(1){
                        padding-left: 10px;
                    }
                    font-size: 13px;
                    letter-spacing: 1.5px;
                    line-height: 1.5;
                    &:nth-child(1){
                        width: 50%;
                        @media screen and (max-width: 600px) {
                            width: 60%;
                        }
                    }
                    &:nth-child(2), &:nth-child(3){
                        width: 25%;
                        justify-content: center;
                        @media screen and (max-width: 600px) {
                            width: 20%;
                        }

                    }   
                    display: flex;
                    padding: 10px 0;
                    background-color: #e0e0e0;
                }
            }
            .shopitem{
                .eachitem{
                    display: flex;
                    height: 20vh;
                    padding: 15px 0;
                    margin: 12px 0;
                    border-bottom: 1px solid #e0e0e0;
                    .item{
                        width: 50%;
                        @media screen and (max-width: 600px) {
                            width: 60%;
                        }
                        >img{
                            width: 40%;
                            height: 100%;
                            float: left;
                            margin-right: 20px;
                        }
                        p{
                            margin: 0;
                            &:nth-child(2){
                                font-size: 15px;
                                font-weight: 700;
                                line-height: 2;
                                letter-spacing: 1.2px;
                            }
                            &:nth-child(3){
                                font-size: 13px;
                                letter-spacing: 1.2px;
                            }
                            &:nth-child(4), &:nth-child(5){
                                color: #555;
                                font-size: 13px;
                                letter-spacing: 1.2px;
                                line-height: 1.8;
                            }
                        }
                    }
                    .price, .total_price{
                        width: 25%;
                        @media screen and (max-width: 600px) {
                            width: 20%;
                        }
                        font-size: 13px;
                        letter-spacing: 1.2px;
                        display: block;
                        >span{
                            width: 100%;
                            text-align: center;
                            top: 50%;
                            position: relative;
                            display: block;
                            margin-top: -17px;
                        }
                        >a{
                            cursor: pointer;
                            display: block;
                            width: 100%;
                            text-align: right;
                            position: relative;
                            top: 100%;
                            margin-top: -22px;
                            >img{
                                width: 15px;
                                margin-right: 10px;
                            }
                        }
                    }
                }
                .checkout{
                    >a{
                        float: right;
                        border: none;
                        background-color: rgb(51, 50, 50);
                        color: #fff;
                        width: 200px;
                        height: 40px;
                        padding: 5px 0;
                        font-size: 15px;
                        letter-spacing: 2.0px;
                        font-weight: 500;
                        margin: 2rem 0;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        &:hover{
                            background-color: #555;
                        }
                    }
                }
            }
        }
    }
}