.main{
    margin-top: 10%;
    .container{
        .row{
            >div{
                >ul{
                    .list-group-item{
                        cursor: pointer;
                    }
                }
                &:nth-child(2){
                    .material-icons, .dropdown-item{
                        cursor: pointer;
                    }
                }
            }
        }
    }
}