<div class="main">
    <div class="container">
        <div class="row">
            <div class="col-3 text-center">
                <ul class="list-group">
                    <ng-container *ngFor="let item of musictype; let musicindex = index">
                        <a>
                            <li class="list-group-item" [ngClass]="typeindex === musicindex ? 'active' : ''" 
                                (click)="selectMusic(musicindex)">{{item}}
                            </li>
                        </a>
                    </ng-container>
                </ul>
            </div>
            <div class="col-9">
                <app-sheet [title]="classTitle" [musictype]="classTitle"></app-sheet>
            </div>
        </div>
    </div>
</div>

