<h5>{{title}}</h5>
<div class="sheetarea">
    <div class="container">
        <div class="row">
            <ng-container *ngFor="let sheet of sheets">
                <div class="col-4 pianosheet">
                    <object
                        width="300" 
                        height="300" 
                        [data]="sheet"
                        style="border:none"
                    >
                    </object>
                </div>
            </ng-container>
        </div>
    </div>
</div>
