<h5>{{title}}</h5>
<div class="sheetarea">
    <div class="container">
        <div class="row" [ngClass]="pianoService.isDetail? 'd-none' : '' ">
            <ng-container *ngFor="let sheet of sheets">
                <div class="col-4 pianosheet wow slideInUp">
                    <object
                        width="300" 
                        height="300" 
                        [data]="sheet.url"
                        style="border:none"
                    >
                    </object>
                    <a [routerLink]="['sheetdetail', sheet.name]">{{sheet.name}}</a>
                </div>
            </ng-container> 
        </div>
        <router-outlet></router-outlet>
    </div>
</div>
