h5{
    text-align: center;
    letter-spacing: 2px;
    font-family: Arial;
}
.sheetarea{
    .container{
        .row{
            .pianosheet{
                margin-left: 100px;
                margin-top: 60px;
                >a{
                    text-align: center;
                    margin-left: 150px;
                    margin-top: 10px;
                    font-size: 20px;
                    color: inherit;
                }
            }
        }
    }
}