.calendar{
    margin-top: 150px;
}
.card {
    font-family: "system-ui";
}

thead tr {
    height: 40px;
}

.list{
    list-style-type: "none";
    color: "red";
}

tbody tr {
    height: 100px;
}
.material-icons{
    cursor: pointer;
}