<div class="calendar">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-8 innercalendar" [ngClass]="isMemorandumOpen ? 'active': ''">
        <div class="card">
          <!--Header-->
          <div class="card-header d-flex flex-row">
            <div class="mr-sm-3 arrow">
              <i (click)="Prev()" class="material-icons">
                keyboard_arrow_left
              </i>
            </div>
            <div class="mr-sm-2">
              <h5>{{Year}}</h5>
            </div>
            <div class="mr-sm-3">
              <h5>{{Month}}</h5>
            </div>
            <div class="arrow">
              <i (click)="Next()" class="material-icons">
                keyboard_arrow_right
              </i>
            </div>
          </div>
          <!--Body-->
          <div class="card-body">
            <table class="table table-borderless">
              <thead>
                <tr>
                  <th style="width: 14.2%">Sun</th>
                  <th style="width: 14.2%">Mon</th>
                  <th style="width: 14.2%">Tue</th>
                  <th style="width: 14.2%">Wed</th>
                  <th style="width: 14.2%">Thu</th>
                  <th style="width: 14.2%">Fri</th>
                  <th style="width: 14.2%">Sat</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <ng-template ngFor let-date [ngForOf]="datesarray" let-i="index">
                    <th 
                      (click)="isMemorandumOpen = true; openMemo(date.date); openMemo(date.date)"
                      (dblclick)="OpenModal(date.date)" *ngIf="i < 7"
                    >
                      {{date.date}}
                      <li [style.background-color]="each.color" *ngFor="let each of date.data[0]" [ngStyle]="listStyles">
                        {{each.title}}
                      </li>
                    </th>
                  </ng-template>
                </tr>
                <tr>
                  <ng-template ngFor let-date [ngForOf]="datesarray" let-i="index">
                    <th 
                      (click)="isMemorandumOpen = true; openMemo(date.date)"
                      (dblclick)="OpenModal(date.date)" 
                      *ngIf="6 < i && i < 14"
                    >
                      {{date.date}}
                      <li [style.background-color]="each.color" *ngFor="let each of date.data[0]" [ngStyle]="listStyles">
                        {{each.title}}
                      </li>
                    </th>
                  </ng-template>
                </tr>
                <tr>
                  <ng-template ngFor let-date [ngForOf]="datesarray" let-i="index">
                    <th 
                      (click)="isMemorandumOpen = true; openMemo(date.date)"
                      (dblclick)="OpenModal(date.date)" 
                      *ngIf="13 < i && i < 21"
                    >
                      {{date.date}}
                      <li [style.background-color]="each.color" *ngFor="let each of date.data[0]" [ngStyle]="listStyles" >
                        {{each.title}}
                      </li>
                    </th>
                  </ng-template>
                </tr>
                <tr>
                  <ng-template ngFor let-date [ngForOf]="datesarray" let-i="index">
                    <th 
                      (click)="isMemorandumOpen = true; openMemo(date.date)"
                      (dblclick)="OpenModal(date.date)" 
                      *ngIf="20 < i && i < 28"
                    >
                      {{date.date}}
                      <li [style.background-color]="each.color" *ngFor="let each of date.data[0]" [ngStyle]="listStyles">
                        {{each.title}}
                      </li>
                    </th>
                  </ng-template>
                </tr>
                <tr *ngIf="datesarray[28]">
                  <ng-template ngFor let-date [ngForOf]="datesarray" let-i="index">
                    <th 
                      (click)="isMemorandumOpen = true; openMemo(date.date)"
                      (dblclick)="OpenModal(date.date)" 
                      *ngIf="27 < i && i < 35 && date.date"
                    >
                      {{date.date}}
                      <li [style.background-color]="each.color" *ngFor="let each of date.data[0]" [ngStyle]="listStyles">
                        {{each.title}}
                      </li>
                    </th>
                  </ng-template>
                </tr>
                <tr *ngIf="datesarray[35]">
                  <ng-template ngFor let-date [ngForOf]="datesarray" let-i="index">
                    <th 
                      (click)="isMemorandumOpen = true; openMemo(date.date)"
                      (dblclick)="OpenModal(date.date)" 
                      *ngIf="34 < i && i < 42 && date.date"
                    >
                      {{date.date}}
                      <li [style.background-color]="each.color" *ngFor="let each of date.data[0]" [ngStyle]="listStyles">
                        {{each.title}}
                      </li>
                    </th>
                  </ng-template>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
      <!--Memorandum-->
      <div class="col-4 memorandum" [ngClass]="isMemorandumOpen ? 'active': ''">
        <i (click)="isMemorandumOpen = false" class="material-icons">close</i>
        <div class="list-group ">
          <h5>{{Month}} {{date}}</h5>
          <ng-container *ngFor="let memorandum of calendarService.memorandumlists">
            <a (click)="memorandumDetail(memorandum.Id)" class="list-group-item list-group-item-action active wow slideInLeft">
              <div class="d-flex w-100 justify-content-between">
                <h5 class="mb-1">{{memorandum.title}}</h5>
              </div>
              <p class="mb-1">{{memorandum.content}}</p>
              <small>{{memorandum.color}}</small>
            </a>
          </ng-container>
        </div>
      </div> 
    </div>
  </div>
</div>
