.main{
    background: black;
    margin-top: 100px;
    color: white;
    .row{
        font-family: 'Trebuchet MS';
        letter-spacing: 2px;
        min-height: 80vh;
        .chat_side_header{
            >.chat_side_name{
                height: 4vh;
                h5{
                    margin-top: 10px;
                }
            }
            >.input-group{
                height: 7vh;
                >input{
                    margin-top: 10px;
                }
            }
            >.icon{
                height: 6vh;
                mat-icon{
                    margin-top:10px;
                    cursor: pointer;
                }
            }
        }
        .chat_side_content{
            margin-top: 30px;
            >div{
                height: 12vh;
                cursor: pointer;
                >img{
                    height: 40px;
                    border-radius: 50%;
                }
                >div{
                    margin-left: 17px;
                    >p{
                        &:nth-child(2){
                            margin-top: -15px;
                        }
                    }
                }
                >p{
                    margin-left: auto;
                }
            }
        }
        .chatarea{
            .self{
                text-align:right;
                height: 6vh;
                >span{
                    margin-top: 12px;
                    background: grey;
                    border-radius: 5px 5px 0px 5px;
                    height: 30px;
                }
            }
            .other{
                height: 6vh;
                >span{
                    margin-top: 12px;
                    background: grey;
                    border-radius: 5px 5px 0px 5px;
                    height: 30px;
                }
            }
            .writearea{
                position: absolute;
                bottom: 15px;
            }
        }
    }
    
}