<!-- Nav tabs -->
<div router appHighlight *ngFor="let restaurant of restaurantlists" class="h-25 border-bottom mb-3">
    <div class="d-flex align-items-start">    
        <a routerLink="detail/{{restaurant.id}}">
            <img  class="img-fluid rounded mt-3 ml-3 mb-3" src= "{{restaurant.img}}" />
            <div class="ml-5 mt-3">
                <p>{{ restaurant.name }}</p>
                <p class="text-justify">{{ restaurant.price  | changecurrency : currency}}</p>
                <p class="text-justify">{{ restaurant.comment }}</p>
                <ng-container *ngFor="let star of stars; let starindex = index">
                    <span class="fa fa-star" [ngClass]="(starindex + 1) <= restaurant.starrank? 'checked': '' "></span>
                </ng-container>
            </div>
        </a>
    </div>
</div>
    