.main{
    .container{
        padding-top: 100px;
        .row{
            padding : 0 20px 20px 15px;
            .title{
                background: url('../../../assets/image/restaurant/coffee_back.jpg');
                height: 30vh;
                >h1{
                    margin-top: 50px;
                }
            }
        }
        
        .restaurantlists{
            .foodtype::-webkit-scrollbar{
                display: none;
            }
        }
    }
}