<div class="main">
    <div class="container">
        <div class="row">
            <div class="col-12 title">
                <h1>Restaurant</h1>      
                <p>Search your desire restaurant</p>
            </div>
        </div>
        <div class="row">
            <!--1. 左半部-->
            <div class="col-4">
                <div class="p-1 bg-light rounded rounded-pill shadow-sm mb-4">
                    <div class="input-group">
                        <input #food (change)="searchFood(food.value)" type="search" aria-describedby="button-addon1" class="form-control border-0 bg-light">
                        <div class="input-group-append">
                            <button id="button-addon1" type="submit" class="btn btn-link text-primary"><i class="material-icons">search</i></button>
                        </div>
                    </div>
                </div>
                <mat-card>
                    <mat-card-content>
                        <h5 class="example-h5">Price Range</h5>
                        <section> 
                            <mat-checkbox class="example-margin" [(ngModel)]="checkedlow" (change)="Child.CheckSize(checkedlow, low)">100 ~ 500 TWD</mat-checkbox>
                        </section>
                        <section>  
                            <mat-checkbox class="example-margin" [(ngModel)]="checkedmedium" (change)="Child.CheckSize(checkedmedium, medium)">500 ~ 1000 TWD</mat-checkbox>
                        </section>
                        <section>
                            <mat-checkbox class="example-margin" [(ngModel)]="checkedhigh" (change)="Child.CheckSize(checkedhigh, high)">1000 ~ 1500 TWD</mat-checkbox>
                        </section>
                    </mat-card-content>
                </mat-card>
                <mat-card>
                    <mat-card-content>
                        <h5 class="example-h5">Currency</h5>
                        <section> 
                            <mat-checkbox class="example-margin" [(ngModel)]="checkedTWD" (change)="Child.ChangeCurrency(checkedTWD, TWD)">台幣</mat-checkbox>
                        </section>
                        <section>  
                            <mat-checkbox class="example-margin" [(ngModel)]="checkedJPY" (change)="Child.ChangeCurrency(checkedJPY, JPY)">日幣</mat-checkbox>
                        </section>
                        <section>
                            <mat-checkbox class="example-margin" [(ngModel)]="checkedUSD" (change)="Child.ChangeCurrency(checkedUSD, USD)">美元</mat-checkbox>
                        </section>
                    </mat-card-content>
                </mat-card>
            </div>
            <div class="col-8 restaurantlists">
                <mat-tab-group [(selectedIndex)]="tabIndex"
                                (focusChange)="tabFocusChange($event)">
                        <mat-tab label="Sweet">
                            <app-restaurant-child 
                                [restaurantlists]="restaurantlists" [type]="type" #Child (resetEvent)="Reset($event)"> 
                            </app-restaurant-child>
                        </mat-tab>
                    <mat-tab label="Ceremonial cuisine">
                        <app-restaurant-child 
                            [restaurantlists]="restaurantlists" [type]="type" #Child (resetEvent)="Reset($event)"> 
                        </app-restaurant-child>
                    </mat-tab>
                    <mat-tab label="Chinese cuisine">
                        <app-restaurant-child 
                            [restaurantlists]="restaurantlists" [type]="type" #Child (resetEvent)="Reset($event)"> 
                        </app-restaurant-child>
                    </mat-tab>
                </mat-tab-group>
                <nav aria-label="Page navigation example" class="mt-4">
                    <ul class="pagination justify-content-end">
                        <li class="page-item disabled">
                            <a class="page-link" href="#" tabindex="-1">Previous</a>
                        </li>
                        <li class="page-item"><a class="page-link" href="#">1</a></li>
                        <li class="page-item"><a class="page-link" href="#">2</a></li>
                        <li class="page-item"><a class="page-link" href="#">3</a></li>
                        <li class="page-item">
                            <a class="page-link" href="#">Next</a>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>
    </div>
</div>
