.main{
    margin-top: 150px;
    animation-fill-mode: forwards;
    .container{
        .row{
            >div{
                &:nth-child(1){
                    >img{
                        opacity: 0.7;
                    } 
                }
                &:nth-child(2){ 
                    padding-top: 3rem; 
                    padding-left: 3rem;
                    height: 80vh;
                    overflow-y: scroll;
                    overflow-x: hidden;
                    
                    >p{
                        >span {
                            font-size: 12px;
                            font-family: 'Lucida Sans';
                            color: grey;
                            margin-right: 3rem;
                        }
                        font-size: 24px;
                        font-family: 'Lucida Sans';
                        letter-spacing: 2px;
                        margin-bottom: 6rem;
                    }
                }
                &.postlistarea::-webkit-scrollbar{
                    display: none;
                    width: 6px;
                    background-color: #F5F5F5;
                }
                &.postlistarea::-webkit-scrollbar-thumb {
                    background-color: #ecc2c2;
                }
                &.postlistarea::-webkit-scrollbar-track {
                    -webkit-box: inset 0 0 6px rgba(0,0,0,0.3);
                    background-color: #F5F5F5;
                }
            }
        }
    }
}
