<div class="main" id="bloglist">
    <div class="container">
        <div class="row">
            <div class="col-6">
                <img class="img-fluid" src="../../../../assets/image/notebook.jpg" alt="img"/>
            </div>
            <div class="col-6 text-left postlistarea"> 
                <ng-container *ngFor="let dish of postlist">
                    <a [routerLink]="dish.url" (click)="hidePostlist()">
                        <span>{{dish.date | datetransform}}</span>
                        <p>{{dish.title}}</p>
                    </a>
                </ng-container>
            </div>
        </div>
    </div>
</div>
<router-outlet></router-outlet>
